<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h2>Listado de Clientes</h2>
        <br>
        <hr>
        <a th:href="@{/Cliente/nuevo}"
           class="btn btn-primary">
            <i class="fas fa-user-plus"></i>Nuevo cliente</a>

        <div th:if="${clientes != null and !clientes.empty}">
            <table class="table table-strype">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Cliente : ${clientes}">
                        <td>[[${Cliente.nombre}]]</td>
                        <td>[[${Cliente.apellidos}]]</td>
                        <td>[[${Cliente.correo}]]</td>
                        <td>[[${Cliente.telefono}]]</td>
                        <td><a th:href="@{/Cliente/eliminar/} + ${Cliente.idCliente}"
                               class="btn btn-danger">
                                <i class="fas fa-trash"></i>Eliminar</a>
                        <a th:href="@{/Cliente/modificar/} + ${Cliente.idCliente}"
                           class="btn btn-success">
                            <i class="fas fa-pencil"></i>Modificar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            <h3>No hay clientes que mostrar</h3>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
